.app-header {
  margin-top: 50px;
  text-align: center;
  &__title {
    color: $submitButton;
    font-size: 32px;
  }
  &__description {
    margin-top: 10px;
    color: rgba(0,0,0,0.6);
    font-size: 15px;
    line-height: 24px;
  }

  @media (min-width: 768px) {
    text-align: start;
    width: 400px;
    margin-left: 100px;
  }
}