$borderRadius: 35px;
$primary:rgba(148,59,255,1); 
$secondary:rgba(215,66,254,1); 
$messageBackground: #eee5f4;
$submitButton: #452f59;

body, html, #root, .App {
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
}

a  {
  text-decoration: none;
  color: black;
}

ul, p, h1, h2, h3 {
  padding: 0px;
  margin: 0px;
}

.App {
  background-color: #eee;
  height: 100%;
}

@import './sass/components/phone';
@import './sass/components/dots';

@import './sass/app-container';
@import './sass/app-header';

@import './sass/navigation'